[2014-02-05 10:20] pythoneer opened #1 "Angular animation and Meteor collection"
I try to implement a simple Leaderboard with animations. To achieve this i sort the collection depending on a count value. a change on that value resorts the list. My goal is to animate this reodering. Angular provides 3 hooks for the ngRepeat statemant enter, leave and move. I was guessing that, if i change the count value in the Meteor-Collection i receive an move event from Angular. But it turn

[2014-02-05 12:04] loneleeandroo commented on #1
Thanks for the heads up :)
I'll have a crack at the problem, but yea I was going to suggest using $scope and filters as an alternative.

[2014-02-05 13:24] loneleeandroo commented on #1
Good news :) I think I've fixed it, so now ngMeteor knows not to re-create the DOM node if there were no changes to it. Try out [ngMeteor v0.1.6](https://github.com/loneleeandroo/ngMeteor/releases/tag/v0.1.6) and tell me if it works for you.

This is the code I used to test:

### leaderboard.html

[code]

### leaderboard.js

[code]

[2014-02-05 14:05] pythoneer commented on #1
Great, and thanks for the quick response! I'll give it a try tomorrow.

[2014-02-06 13:02] #1 closed, assigned to loneleeandroo

[2014-02-11 02:15] aralshukaili opened #2 "HTML binding does not work"
I tried to get ngMeteor (v0.1.7) working. The JS code runs without errors, however the data binding in the HTML code does not work. This is the code:

![screen shot 2014-02-11 at 1 19 22 pm](https://f.cloud.github.com/assets/788928/2133391/29ea73e2-92c3-11e3-9e4a-697e70de7f9e.png)

This is what i get: [[foo]]
However, I should get: bar

Thoughts?

[2014-02-11 04:32] aralshukaili commented on #2
After some trial and error... It appears that ngMock is the colporate. In the ngMeteor package folder:

ngMeteor.js
![screen shot 2014-02-11 at 3 29 39 pm](https://f.cloud.github.com/assets/788928/2134059/3b210a06-92d5-11e3-9e66-911fb494c9b1.png)

I think ngMock does not play well with angular.bootstrap function, not sure though. However commenting out ngMock solves the problem.

Please add the fi

[2014-02-11 04:34] loneleeandroo commented on #2
Okay :O thanks for that, i'll take out ngMock for now.

[2014-02-11 04:38] loneleeandroo commented on #2
I'll put it back in once i understand why its not playing well :)

[2014-02-11 04:38] #2 closed, assigned to nobody

[2014-02-11 04:42] aralshukaili commented on #2
No worries. Let me know once you figure it out. Very peculiar bug this one!
On Feb 11, 2014 3:38 PM, "Androo" notifications@github.com wrote:

[2014-02-11 06:41] aralshukaili opened #3 "Collection existence check condition"
Regarding this line:

[code]

in ngMeteor-collections.js:

[code]

In your package, I don't think you store any collection declaration in $window. Furthermore, you don't mention in your documentation to store collection declarations in $window. Hence, using $collection function always go to:

[code]

Correct me if I missed something.

[2014-02-11 07:30] loneleeandroo commented on #3
ngMeteor just uses the default Meteor Collection declaration, which stores their collection in <code>window</code>. So for example:

[code]

would create an Meteor.Collection object in window.

This is an example of [a simple leaderboard](https://github.com/loneleeandroo/ngMeteor/issues/1#issuecomment-34165850)

[2014-02-11 07:30] loneleeandroo commented on #3
I'll mention it in the README.

[2014-02-11 07:30] #3 closed, assigned to nobody

[2014-02-11 08:47] ccll commented on #2
Another similar issue, `api.add_files(['lib/angular-mocks.js'])` breaks `mrt/meteor --production` instance.
Some injection in angular-mocks.js did not use string form like `['$rootScope', function($rootScope...`, so the injected provider name was obfuscated and then failed to inject.

[2014-02-11 08:49] aralshukaili commented on #2
Makes sense. Thank you very much for the info.
On Feb 11, 2014 7:47 PM, "ccll" notifications@github.com wrote:

[2014-02-11 09:39] loneleeandroo commented on #2
Yea i've taken both Angular Mock and Angular Scenario out of the package.

[2014-02-12 06:30] ccll commented on #2
Great!
Seems like ngMock was not polished enough.

[2014-02-20 19:08] daxreyes opened #4 "Declaring 2 collections inserts the data to the 2nd collection"
If I modify the leaderboard example in #1 and add another Collection Member. Doing an insert via  $scope.Leaders.add({name: "leader 2"}) or lead.add({name: "leader 2"})  inserts it to Members Collection instead of Leaders Collection

Leaders = new Meteor.Collection("Leaders");
Members = new Meteor.Collection("Members");

if (Meteor.isClient) {
  ngMeteor.controller('leaderboardCtrl', ['$scope', '$

[2014-02-21 18:02] ghost opened #5 "How to handle subscriptions"
I had a workaround for some days. And today i stuck over subscriptions. How can I handle subscriptions as waitOn function of Iron Router. And is there a way to do something like pagination, sorting, limiting ??

I tried to implement
https://github.com/julianmontagna/filter-collections

but it doesnt seem to work well together.

[2014-02-23 03:25] tlaskowsky opened #6 "demo question: filtering"
Hi,

I was trying out your demo and have a question.
When I enter a single character into "search/add todo here" box, the list seems not being filtered correctly.

eg. If I added "test" into the todo-list, then enter "a" in the search field, the "test" item is still displayed.

When I enter two or more characters, the list filters correctly.
Any idea why?

Thank you!

[2014-02-24 01:19] loneleeandroo commented on #6
Hello :)

Each todo object looks like this after its been added to Mongo:

[code]

In the demo, I didn't specify which properties of the object the input should filter so AngularJS automatically looks at all the properties in the todo object including the _id property as well when filtering. So if there is a letter "a" in _id, the filter will return it and it will be displayed when you type "a" in

[2014-02-24 01:19] #6 closed, assigned to nobody

[2014-02-24 04:03] loneleeandroo commented on #4
Yep I see the problem :) Going to try to fix it soon. I might need to create a separate service for each collection.

[2014-02-24 04:51] tlaskowsky commented on #6
Thank you very much!

[2014-02-24 05:00] loneleeandroo commented on #4
I have a temporary fix for the issue :) Check out [ngMeteor v0.1.10](https://github.com/loneleeandroo/ngMeteor/releases/tag/v0.1.10)

I've tested it with the code you used above and it is inserting and deleting from the correct collection now, but the way it appears in the object is not very elegant, so I will see how i can improve it for ngMeteor v0.2.0

[2014-02-24 05:00] #4 closed, assigned to loneleeandroo

[2014-02-24 18:42] tlaskowsky opened #7 "How to handle browser back button"
Hi,

I am using ngMeteor with Iron_Router.

When I move away from an ngMeteor-enabled template and then click on the browser's back button, the data does not bind back to angular parameters.  When I refresh, they all bind and show up.

I would appreciate your advice on a work-around for this.

Thank you.

[2014-02-25 01:35] loneleeandroo commented on #7
Yea i'm actually looking at this as well :( basically when iron-router re-renders the template, the initial render works, the DOM elements are recreated without going through the Angular $compile service. I need to add something that re-compiles the html with Angular bindings whenever a template renders.

I'm going away on a short trip soon, so this might not be done as soon as i like. I'll update

[2014-02-25 02:03] tlaskowsky commented on #7
Thank you Androo :)
I really appreciate your work.
This package is really helping me out on my project :)

2014-02-24 15:35 GMT-10:00 Androo notifications@github.com:

##

Terumi Laskowsky | Director | Credo Security Solutions LLC.
terumi@credosec.com | www.credosec.com

Disclaimer: This email and any files transmitted with it may contain
confidential information and intended solely for the use of

[2014-03-02 01:58] tehXor opened #8 "How to call templates from the $routeProvider"
Hi, I just started with Meteor + AngularJS and want to built a little app which should use ngRoute.

I have set  up several templates and an AngularJS app which gets loaded by ngMeteor.requires.push
Everything looks fine and I can call each template via &lt;ANY ng-template="foo"&gt;&lt;/ANY&gt;.

I have also set up a ng-view area and routes within the config block of my app with $routeProvider, Th

[2014-03-03 01:18] loneleeandroo commented on #8
Hello :)

Something like this should work:

### example.html

[code]

### example.js

[code]

[2014-03-03 01:18] #8 closed, assigned to nobody

[2014-03-03 01:25] loneleeandroo commented on #8
I've included an example in the README :)

[2014-03-03 02:36] tehXor commented on #8
... I really thought I tried all possible combinations in templateUrl, however simply using the template name but the file name didn't cross my mind :(
So sorry for stealing your time but thanks a lot for answering (of course now it works as it should!) :+1: :)

[2014-03-06 11:26] daxreyes opened #9 "how to display/use template using ionic"
I am trying to try this sample angular/ionic example http://ionicframework.com/docs/guide/building.html .  How do you pass the template in $ionicModal.fromTemplateUrl ?
## js

[code]
## html/template

[code]

[2014-03-06 12:50] ghost commented on #9
I used both ngMeteor and Ionic. I also had this issue with modal, So i created  modal.html without script id whatever in public directory

[code]

[code]

then i passed the path to templateUrl. even it has template definition, it didn't work for me.

[2014-03-06 15:00] daxreyes commented on #9
What I currently do is wrap the modal in a template and render them {{> newTask}} , then  $ionicModal.templateUrl('new-task.html', function(modal){}) .  But, I not sure if there is a better or right/correct way.

[code]

[2014-03-07 11:20] jinwyp opened #10 "collection ready not working"
I follow the readme, and use ready function.

[code]

then got error
Object [object Array] has no method ready

btw, $collection("todos", $rootScope)  .  The "todos"  is the same word as the meteor collection.  Is there a way to change the another name used in angular controller?   Because meteor collection is a model which use capital word , and in angular scope , I always use lower case of data

[2014-03-07 12:56] loneleeandroo commented on #10
Hello :)

Yea i only added the ready method today, so you might need to update to the latest ngMeteor using:

[code]

If you want to give it an alias you could do:

[code]

[2014-03-07 13:15] jinwyp commented on #10
cool!

[2014-03-08 02:24] daxreyes opened #11 "How to subscribe to a publish method with a different name than the collection"
Subscribing to a publish with a different name than a collection, will result in an error "There is no Meteor Collection called "<name of recordset>".

I am trying to look at
https://github.com/loneleeandroo/ngMeteor/blob/master/modules/ngMeteor-collections.js#L6 but not familiar enought to make changes.

What I would like to achieve is to be able to send parameters to subscribe and limit what it

[2014-03-08 03:19] #10 closed, assigned to nobody

[2014-03-08 03:27] loneleeandroo commented on #9
Hey guys :)

Update to the latest ngMeteor by doing:

[code]

I fixed a rendering issue and also added a ready method to the collections. You can now simply create the modal template by using Meteor templates, so:

[code]

and then you can call it in the $ionicModal service using the fromTemplateUrl method like this:

[code]

Also I adapted the ionic example in the OP post for ngMeteor :) You'll n

[2014-03-08 03:40] loneleeandroo commented on #11
Hello :),

I know what you're trying to accomplish :) and you should look at the [example](https://github.com/loneleeandroo/ngMeteor/issues/9#issuecomment-37087778) i provided in your other post on how to deal with it.

Basically, my task objects in my Tasks array would have the following structure:

[code]

The project property, holds the _id of the project it is a part of, so now i can filter it

[2014-03-08 04:44] daxreyes commented on #11
Hi,

If I understand it correctly, angular would filter the Tasks in the front end. My goal of using subscribe and not return everything is to limit the data sent by the server to the client. I think there will be problem at some point if there will be a lot of entires in Tasks if by default subscribe returns all the data

[2014-03-08 04:48] daxreyes commented on #9
Wow! thanks a lot for these updates! :) I also provided some more explanation regarding the publish/subscribe stuff in #11

[2014-03-09 09:29] #9 closed, assigned to nobody

[2014-03-09 09:38] loneleeandroo commented on #11
hello :)

I've updated ngMeteor to allow passing the <code>selector</code>, <code>options</code> and <code>publisher</code> arguments of the $collection service to the publisher function. So you can do this now:

[code]

This is how to use it with the example ionic app I showed you previously:

### ionic.html

[code]

### ionic.js

[code]

[2014-03-09 14:16] ghost commented on #5
I think i get a solution from

this - https://github.com/loneleeandroo/ngMeteor/issues/6
this - https://github.com/loneleeandroo/ngMeteor/issues/9
and this issues - https://github.com/loneleeandroo/ngMeteor/issues/11

so I am closing it. Thank u )

[2014-03-09 14:16] #5 closed, assigned to loneleeandroo

[2014-03-09 14:17] ghost commented on #11
now I get the solution for my issue https://github.com/loneleeandroo/ngMeteor/issues/5 ... Thank u guys )

[2014-03-10 02:24] daxreyes commented on #5
Wow. I had an impression it is better to use angular-ui-router when dealing with angular routing stuff. Would be nice to see a sample code  how you are able to mix and match iron-router and angular stuff

[2014-03-10 02:56] daxreyes commented on #11
Thank you very much! This is great! I think there is a lot of flexibility provided by the options "selector, options ,publisher ".

[2014-03-10 02:56] #11 closed, assigned to nobody

[2014-03-10 11:38] loneleeandroo commented on #7
Hello :) Sorry it took so long! But its done. Just update to ngMeteor v0.1.16+.

Test it out!

[2014-03-10 19:19] tlaskowsky commented on #7
Wow, thank ÿou Androo,
I will :)

On Monday, March 10, 2014, Androo notifications@github.com wrote:

##

Terumi Laskowsky | Director | Credo Security Solutions LLC.
terumi@credosec.com | www.credosec.com

Disclaimer: This email and any files transmitted with it may contain
confidential information and intended solely for the use of the individual
or entity to whom they are addressed. If you have r

[2014-03-10 23:08] daxreyes opened #12 "decouple subscription name with collection name"
For example, subscribing to different publish pub1, pub2. Both handling different logic for the same Collection that must be enforced server side. CRUD updates are still enforced via Collection.deny/Collection.allow callbacks

Just wondering if this is possible and recommended.

[2014-03-11 00:57] loneleeandroo commented on #12
Yea i think its a good idea too :) I'll work on it next

[2014-03-11 09:29] #7 closed, assigned to loneleeandroo

[2014-03-11 10:57] jinwyp commented on #10
I try the newest version, and

[code]

not working

in angular template I can't use ng-repeat = "todo in Todos"

and I have another problem that the new ngMeteor is confilit with meteor accounts-UI,
It got "Cannot read property 'username" of undefined "

[2014-03-11 11:38] loneleeandroo commented on #10
Hello :)

You need to remove the autopublish smart package in order for the ready() method to work.

The accounts-ui conflict is happening because the helpers in the accounts-ui templates are run when they are being put into $templateCache. One of those helpers was looking for Meteor.user(), but that was returning null because no users were logged in. So what i've done in ngMeteor v0.1.18, is I've

[2014-03-12 03:26] jinwyp commented on #10
Sorry , I may got misunderstand of this question.

I want to use another name of collection which can used in template. In above example , I want use 'Todos' in template not 'todos' because I don't want to used the same name of Meteor collection 'todos'.

[code]

Is there a ways to do that ?

btw in above example , missing "Meteor.subscribe("todos");"  in client part.

[2014-03-12 04:49] daxreyes opened #13 "example in meteor-ionic is not rendering properly for certain conditions"
I am cross posting the issue I posted in https://github.com/cramrov/meteor-ionic/issues/5
since I am not sure if it is ionic specific

[2014-03-12 08:33] loneleeandroo commented on #13
I deployed that ionic app to http://ng.meteor.com/

Check if the issue comes up. I can't seem to replicate it.

Do you mean it renders for a little before it disappears? I always thought that was just how the animation was supposed to be.

[2014-03-12 08:47] loneleeandroo commented on #10
Its not missing :) $collection does the Meteor.subscribe automatically, so i don't need to include it.

So you want to use <code>Todos</code> in the template and <code>todos</code> as the collection name?

Sure, this is how you would set it up:

### js

[code]

### html

[code]

[2014-03-12 09:17] daxreyes commented on #13
I checked the http://ng.meteor.com and the issue does not manifest. I presume the code for that is the one in https://github.com/cramrov/meteor-ionic#example ?

[2014-03-12 09:46] loneleeandroo commented on #13
Um its this one: https://github.com/loneleeandroo/ngMeteor/issues/9#issuecomment-37087778, i think it should be the same.

[2014-03-12 14:10] cramrov commented on #13
Yes, is the same code, I just copy&paste it!  ;)

[2014-03-13 02:01] daxreyes commented on #13
Hi all,
I uploaded a sample code where the issue manifests  https://github.com/raikage/todo . But it is just a copy paste of the one in the example https://github.com/cramrov/meteor-ionic#example

I just do the following
1. mrt update
2. meteor reset
3. meteor
4. open chrome incognito and browse http://localhost:3000
5. first project prompt, I write p1 then pressed enter
6. click upper left button

[2014-03-14 16:04] ghost opened #14 "Meteor.user() returns undefined"
Having problem with users collection. When I call Meteor.user() in $rootScope it returns undefined

so

[code]

it throws error

[code]

[2014-03-16 02:39] tehXor opened #15 "Error in Meteor production mode"
Hi there,

when I try to run my app (which works flawlessly in the "normal" non productive mode) with "meteor run --production" none of my templates get rendered. So I just see the frame of the main HTML file and nothing from within the ng-view directive. And I get the following AngularJS error (this why I suspect that ngMeteor is the culprit for the problem):
Uncaught Error: [$injector:unpr] Unkn

[2014-03-16 03:24] loneleeandroo commented on #15
Hello :)

When you use the production option all the javascript code gets minified and obfuscated, which means that all the variables are renamed, so you need to make sure that all your controllers and directives use dependency injection. Look at [this](https://github.com/loneleeandroo/ngMeteor#adding-controllers-directives-filters-and-services) in the README and read this [article](http://docs.an

[2014-03-16 05:12] tehXor commented on #15
Thanks for the super fast and helpful reply! I used DI everywhere correctly expect in one modules .run function (no idea why...). I guess I would have needed ages to figure that out on my own... But now my app works as expected :)
Thanks again for your help and also for the great work with ngMeteor!!

[2014-03-16 05:12] #15 closed, assigned to nobody

[2014-03-16 05:29] loneleeandroo commented on #14
Hello :)

I'm working to improve the $collection service. For now, the workaround is to do this:

[code]

[2014-03-16 07:17] ghost commented on #14
yes, it works )) thank U

[2014-03-16 07:17] #14 closed, assigned to loneleeandroo

[2014-03-17 20:21] tseven opened #16 "ngMeteor view not activated inside conditional meteor template"
I'm new to both Meteor and Angular, so I apologize in advance if this is not an issue with ngMeteor.

I have a very simple app with a conditional meteor template which looks like this:

[code]

When an employee from the list is clicked I use Session.set('selected_employee', this._id); to trigger the template change above.

Inside the template "numpad"

[code]

This very simple directive only works

[2014-03-17 21:23] loneleeandroo commented on #16
Hello :)

Yes I believe it is an issue with ngMeteor. When the template is outside the #if helper, AngularJS is able to compile the template because the template loads before the angular app is bootstraped, however, when you put the template inside the #if helper the template is re-rendered after the bootstrap so it doesn't go through the angular compilation process and all you see is the unlinked

[2014-03-17 21:50] tseven commented on #16
Gotcha, I'll check out ng-if, thank you.

[2014-03-27 09:47] crapthings opened #19 "can we use ng-app as bootstrap?"

[2014-03-27 09:48] crapthings commented on #19
or should i use ng-controller on root tag?

[2014-03-27 09:51] crapthings commented on #19
what is replace with angular.module()

[code]

it seems all modules dependency is auto inject.

[2014-03-27 22:52] loneleeandroo commented on #19
Hello :)

If you need to inject your own module please refer to the README [here](https://github.com/loneleeandroo/ngMeteor#module-injection).

ngMeteor already handles the bootstrap for you so you can simply start using angular by specifying a ng-controller on your root tag, which cannot be the body tag because Meteor does not allow attributes on the body tag.

[2014-03-29 08:26] crapthings opened #20 "How to deal two different selectors in same controller with same collection ?"
i want to display 2 different queries from notes collection.
1. query all recent sticky notes.
2. query all recent notes with note.sticky = false

if u know what i mean.

How do i write code such condition ?

[code]

[2014-03-30 01:40] loneleeandroo commented on #20
The problem here is that the first argument of the $collection service must refer to the name of the collection object, and that name also has to be the same as the publisher function name. So, you would need to have a collection called Notes and a collection called stickyNotes, which is not viable. And adding to the problem, you cannot specify which model you want the fetched array to be bound to

[2014-04-07 13:03] nick-merrill opened #21 "Template key for iron-router is not being set."
It looks like the `key` variable is not being set in the following, which is breaking iron-router integration for ngMeteor.  I think it may be an issue with Meteor 0.8.0 integration?

![screen shot 2014-04-07 at 9 00 57 am](https://cloud.githubusercontent.com/assets/1634334/2631116/c1c48f38-be54-11e3-9c18-9abbdda51f3e.png)

[2014-04-07 13:08] nick-merrill commented on #21
My fault.  This occurs on a 404 template but not on normally-defined templates.

[2014-04-07 13:08] #21 closed, assigned to nobody

[2014-04-13 11:15] crapthings opened #22 "use 2.0 by now"
i've saw 0.2 on branch and all features seem 100% unless document. can we use it right now? when will u rls 0.2?

[2014-04-13 11:16] crapthings commented on #22
really need multiple collections subscribe support right now

[2014-04-16 14:35] mvaivre opened #23 "Error when deploying on meteor subdomain while using ui-router"
hi !

Everything is working perfectly when I'm testing my app on localhost, but when I try to deploy on the meteor subdomain I get this error: http://bit.ly/1iplLmF

May it be caused by some ngMeteor module dependecies ? (I'm using the angular-ui-router package).

Thanks,

Mikaël

[2014-04-24 12:04] #23 closed, assigned to nobody

[2014-04-24 12:05] mvaivre commented on #23
The problem was caused by a silent error in my routing system (using ui-router) ! Everything is working fine now.

[2014-04-29 20:18] beneshed opened #25 "[QUESTION] A few things to get started"
I'm trying to use ngProgressBar light. I have a freeFirst questions.
1. After running `mrt add ngMeteor` do I need run anything else? Do I need to actually install meteor itself?
2. Is there an order of what should be loaded or files that should be placed in specific places?
3. Am I doing anything wrong here?
   temp.html

[code]

app.js

[code]

[2014-04-30 00:07] loneleeandroo commented on #25
Hello :)

You don't need to do anything extra after <code>mrt add ngMeteor</code>. Also, if you can run that command then you must have Meteorite and Meteor installed already.

There isn't anything specific you need to do and i was able to get it working :)

## app.html

[code]

## app.js

[code]

And this is where my files went:
![screen shot 2014-04-30 at 10 03 42 am](https://cloud.githubusercon

[2014-04-30 15:23] beneshed commented on #25
The main error I keep getting when using ngMeteor is

[code]

[2014-04-30 15:23] beneshed commented on #25
I did exactly what you did and it didn't work for me. I'll attach a tree and files in a sec

[2014-04-30 15:32] beneshed commented on #25
[code]

used packages

[code]

app.js

[code]

pbar.html

[code]

[2014-04-30 15:36] beneshed commented on #25
My error is now Uncaught `Uncaught TypeError: undefined is not a function`

Stack trace:

[code]

[2014-05-21 16:08] darkship opened #27 "Some errors with Iron-router"
Hi,
I just added ngMeteor to my app that use Meteor's Template and Iron-router.
I've go an error on line 40 of packages/ngMeteor/modules/ngMeteor-template.js each time I render a template. Because "key" is undefined

<pre>
angular.element(document).ready(function() {                                                                           // 34
    if(Package['iron-router']){

[2014-06-08 19:37] ghost commented on #27
Hello,

Could you describe what was the problem in your case?
I am trying to use the following package:
https://github.com/cramrov/meteor-ionic/
together with Iron-Router, but still I recieve the same error like you.

https://github.com/tommyJS/tommyJS-repo

If you know what I did wrong, please let me know :)
Thanks.

[2014-06-11 08:33] darkship commented on #27
@tommyJS you shouldn't use iron-router on a new project for now.
ngMeteor detects Iron-router and wants to add some code so that angularJS works but somehow we lost some functions

[2014-07-16 14:41] Urigo commented on #22
Hi @loneleeandroo, any news on that?

[2014-07-17 12:33] Urigo opened #28 "Adding a shorter function call to findOne"
Equivalent to find(selector, options).fetch()[0] with options.limit = 1.

[2014-07-17 13:06] Urigo opened #29 "Best practices for watching a session "selected" value inside a collection"
If I have a collection, and I want to also represent a selected object, what is the best practice of watching and binding this value in a reactive way?

A good example would be the parties meteor example and the current selected party.

[2014-07-30 11:15] leoetlino opened #30 "Support reactive-table"
Currently, ngMeteor doesn't support [reactive-table](https://github.com/ecohealthalliance/reactive-table).

When `{{> reactiveTable collection=Collection}}` is added to a template, ngMeteor will fail with the following error:

[code]

htmljs.js:11 checks that it's being passed a string. If something else is passed to HTML.Raw(), it will throw the above error.

ngMeteor-template.js passes in `$temp

[2014-07-30 11:29] leoetlino commented on #30
Well, even with the workaround, it still won't work.

The options aren't passed at all, apparently. If someone has any idea...

[2014-07-30 14:26] leoetlino opened #31 "ngMeteor breaks with Meteor 0.8.3"
Meteor 0.8.3 seems to have changed Template.templateName.render() to Template.templateName.__render(), so the current ngMeteor breaks under 0.8.3.

[2014-07-30 20:37] thosmos commented on #31
This fixed it for me: https://github.com/loneleeandroo/ngMeteor/pull/32

[2014-07-30 20:40] leoetlino commented on #31
Indeed! Although I do have a small concern, though. See the pull request for more details.

[2014-08-02 09:38] leoetlino commented on #31
Closing, as the pull request has been merged.

[2014-08-02 09:38] #31 closed, assigned to nobody

[2014-08-02 10:38] leoetlino opened #33 "$collection - Support promises"
Currently, $collection seems to be getting the data asynchronously. This results in race conditions if the collection takes some time before it is completely loaded.

Would it be possible to add support for promises, or something else that would allow to avoid race conditions?

[2014-08-06 17:54] azfx opened #34 "Error if ngMeteor is used with easy-search package"
Looks like the Blaze.toHTML call for meteor 0.8.3 fails when used against templates defined in easy-search meteorite package. Not sure if this is a easy-search package issue, or ngMeteor issue.

`Uncaught TypeError: Cannot read property 'index' of null easy-search-components.js:321`

I am assuming the offending code is :
https://github.com/loneleeandroo/ngMeteor/blob/master/modules/ngMeteor-templa

[2014-08-06 20:01] netanelgilad opened #35 "loading jquery before angular"
Hi,
I got an issue with using jquery instead of jqlite with angular. I want to use angular-ui-calendar but it depends on jquery and jquery-ui loading before angular loads.
Is there anyway to achieve this with ngMeteor?
I think optional dependencies are possible with meteor and that could be a way to achieve this... thoughts?

[2014-08-08 14:12] Urigo commented on #22
@loneleeandroo I'm the owner of a development team and we work a lot with ngMeteor and really happy with your solution.
I'm also a member of the angular-ui team.
Me and my team would love to join in as a collaborators to your library and help you push it forward.
What do you think?
Thanks!

[2014-08-09 11:19] dotansimha opened #36 "Error when trying to use Meteor 0.8.3?"
Hi everyone,

Im trying to use ngMeteor v0.2 with Meteor 0.8.3 and I get this error:
Uncaught TypeError: Cannot read property 'notifyParented' of undefined (ngMeteor.js:36)

I guess it caused by the fact that UI.Componenet replaced with Blaze.View in 0.8.3.
I know I can run meteor 0.8.2, but then I can't run other packages that requires Blaze.

Is there any solution for that?

Thanks.

[2014-08-20 17:45] stephenkaraga commented on #27
Is there a workaround or any word on when ngMeteor and Iron router will be compatible?

We ran into this issue working on a new app, there seems to be a compatibility issue.

[2014-08-22 17:42] leoetlino commented on #22
That would be a great news!

[2014-08-22 20:31] leoetlino opened #38 ""Error: Not permitted. Untrusted code may only update documents by ID. [403]""
meteorCollection.save() on version 0.2 currently fails with the below error:

It seems that ngMeteor is updating the collection:

[code]

However, that does not seem to be enough. Meteor will still deny ngMeteor from updating the collection so it won't work. If I change that line to:

[code]

...which is what I use when finding one element from a collection given an object ID, then it works as exp

[2014-08-22 20:42] leoetlino commented on #38
Fixed in 327a757 in my fork. Waiting on feedback before doing a pull request.

[2014-08-23 14:22] leoetlino commented on #28
That would be useful!

[2014-08-24 10:58] Urigo commented on #38
Hi @leoetlino , after trying to update ngMeteor with pull requests for a while, it looks like ngMeteor is not really supported...
So i've forked ngMeteor and added support to Meteor 0.8.3 to the 0.2 branch.
I've also pull requested it but still no response.
So I guess me and my team will support our fork from now on.
Here it is:
https://github.com/Urigo/ngMeteor/tree/v0.2

I would love for you to

[2014-08-24 11:00] leoetlino commented on #38
I guess the author is really busy. So yes, it might be good to start a fork (this is what I've done currently).

[2014-08-24 11:00] Urigo commented on #22
@crapthings @leoetlino
After trying to update ngMeteor with pull requests for a while, it looks like ngMeteor is not really supported...
So i've forked ngMeteor and added support to Meteor 0.8.3 to the 0.2 branch.
I've also pull requested it but still no response.
So I guess me and my team will support our fork from now on.
Here it is:
https://github.com/Urigo/ngMeteor/tree/v0.2

We would love for

[2014-08-24 11:02] leoetlino commented on #38
As far as I can see from the commit, the code that's causing the issue hasn't been changed, so theroretically the error will still be there.

It's fixed in 327a7576d18a2cbb8afd103d8e7d6b28a6a0afae in my fork but I haven't tested it extensively, so I don't know if that breaks something or not.

[2014-08-24 11:22] Urigo commented on #38
@leoetlino Good, so it means we need your fork on our fork :)
If you can fork our fork we will test it in our team and merge it as soon as possible.
We could change it ourselves but I would rather that you will get the credit for that pull request!

[2014-08-27 11:03] Urigo commented on #38
Merged into https://github.com/Urigo/ngMeteor/tree/v0.2

[2014-08-27 11:05] Urigo commented on #36
@dotansimha I've created a solution here:
https://github.com/Urigo/ngMeteor/tree/v0.2
Feel free to use, we have a full dev team to support that fork

[2014-08-27 11:05] Urigo commented on #35
@netanelgilad , we have s solution for that in our fork here:
https://github.com/Urigo/ngMeteor/tree/v0.2
Feel free to use, we have a full dev team that supports that fork

[2014-08-27 20:29] netanelgilad commented on #35
@Urigo Great! thanks.. gonna use that.

[2014-09-01 00:00] Arambse opened #39 "Meteor 0.9.0 support?"
Is this gonna happen or should i lose my faith in humanity?

[2014-09-01 01:24] Urigo commented on #39
Hi!
So in the fork supported by our team we just released version 0.2.0 which supports the new v0.2 branch (merged into master) and supports Meteor 0.9.0 and it's new package system:
https://github.com/Urigo/ngmeteor/releases
Enjoy and don't forget to star our repo ;)

[2014-09-01 01:25] Urigo commented on #38
Now merged into master and released in the new release:
https://github.com/Urigo/ngmeteor/releases

[2014-09-01 01:26] Urigo commented on #36
@dotansimha merged into master and released a new version on the Meteor packaging system:
https://github.com/Urigo/ngmeteor/releases

[2014-09-01 01:27] Urigo commented on #35
@netanelgilad We've just merged that change into master and released a new version to Meteor's new packaging system:
https://github.com/Urigo/ngmeteor/releases

[2014-09-01 01:29] Urigo commented on #34
@azfx We've just released a new version of our fork of ngMeteor with a lot of changes that also supports the new Meteor's packaging system (since version 0.9.0).
Would you mind test your issue with the new release and if it is still happening we would love to support it on our repo:
https://github.com/Urigo/ngmeteor/releases
Thanks

[2014-09-01 01:30] Urigo commented on #33
@leoetlino still relevant in the new release on our repo?
https://github.com/Urigo/ngmeteor/releases

[2014-09-01 01:32] Urigo commented on #30
@leoetlino I was dealling with something similar trying to include the accounts templates as is inside an ngMeteor template.
If you still looking for support you can reopen the issue on our repo and we can discuss it there:
https://github.com/Urigo/ngmeteor
Thanks

[2014-09-01 01:34] Urigo commented on #27
@darkship @stephenkaraga @tommyJS  We've just released a new version of our fork of ngMeteor with a lot of changes that also supports the new Meteor's packaging system (since version 0.9.0).
If this issue is still relevant for you we would love to support it on our repo:
https://github.com/Urigo/ngmeteor
Thanks

[2014-09-01 01:36] Urigo commented on #22
We've just released a new version of our fork of ngMeteor with a lot of changes that also supports version 2 and the new Meteor's packaging system (since version 0.9.0):
https://github.com/Urigo/ngmeteor/releases
Have fun

[2014-09-01 01:39] Urigo commented on #19
@crapthings giving the programmer the option of using ngMeteor's bootstrap or use ng-app is a good idea.
If it is still relevant for you please open an issue for it in our repo and we would love to discuss it:
https://github.com/Urigo/ngmeteor
Thanks

[2014-09-02 06:33] crapthings commented on #22
this is awesome.
i'll try the new repo.

[2014-09-02 06:33] #22 closed, assigned to nobody

[2014-09-02 08:02] leoetlino commented on #33
I've solved it by having a `setTimeout()` that periodically checks if collections are ready and if they're not, wait and try again until it's ready.

However, I think it would be much cleaner if we could just delay loading the route until the collections are ready. Maybe allowing collections to be injected will solve the problem?

[2014-09-03 11:25] Urigo commented on #33
Can you show an example?
maybe on http://meteorpad.com/?

[2014-09-03 12:54] leoetlino commented on #33
Here's how I do it in a controller:

[code]

Where `areCollectionsReady()` is just:

[code]

[2014-09-03 22:07] superchris commented on #39
I also have a fork where I've added several features and an example app to show how to use it: https://github.com/superchris/ngmeteor
https://github.com/superchris/ngmeteor-cookbook

[2014-09-04 15:28] Urigo commented on #39
@superchris Amazing work!
We are a full dev team that support the fork and about to release a lot more improvements after finishing a big project with that library.
Lets work together!
Would you like to join in and be added as a core contributor to our fork?

[2014-09-07 09:43] Urigo commented on #33
@leoetlino Haven't forgot!  will be on this in less than a week.
In the meantime if you have a suggestion for a solution you can start a pull request, even if it's not fully completed we can work on it together.

[2014-09-07 11:13] leoetlino commented on #33
I think the way to do it would be a `resolve` property on the route that directly injects the collection to the controller and delays loading appropriately. I don't have the skills to add it though!

[2014-09-30 14:55] Urigo commented on #33
@leoetlino I've went through your example again and I have a few questions.
It looks like you are waiting for the androidAppsBuildJobs collection to be ready.
Where are you subscribing to it?

Maybe there you can use the onready callback, something like:
      Meteor.subscribe('androidAppsBuildJobs', function(){
        getJobDetails();
      });

I'm not try to remove the problem but to find the

[2014-09-30 19:04] leoetlino commented on #33
The model is defined in `models.js` in my project, and the subscribe call is in that file also.

What I hoped is that ngMeteor would have a native way to inject collections into a controller and delaying the loading of the route until the collection is ready, just like regular `resolve` properties on a route.

As you can see, I'm already manually checking that the collections are ready before doin

[2014-10-01 01:50] Urigo commented on #33
@leoetlino I've added support for subscribing automatically with the bind function and also separately with a new $subscribe service.
Here is the commit:
https://github.com/Urigo/ngmeteor/commit/3436e7534fda4ef71042267d36a17fd41533bfe4

I've also updated the tutorial:
http://angularjs.meteor.com/tutorial/step_00

And also updated the docs here:
https://github.com/Urigo/ngmeteor

Please share your

[2014-10-22 23:40] dandv opened #40 "Relationship with Urigo's package"
What is the relationship between this package and https://atmospherejs.com/urigo/ngmeteor ? They have identical descriptions.

CC @urigo

[2014-10-23 00:36] Urigo commented on #40
@dandv [angular-meteor](https://atmospherejs.com/urigo/angular) is the only package that works and is updated.
The rest that you described are old and not supported or maintained.

[2014-10-23 00:38] dandv commented on #40
Thanks @Urigo. It would be great to remove [this package](https://atmospherejs.com/loneleeandroo/ngmeteor) from Atmosphere's search results. CC @tmeasday, @undon

[2014-11-01 17:46] Urigo commented on #29
Fixed and solved in [angular-meteor](https://github.com/Urigo/angular-meteor).
Example in the tutorial here:
[http://angularjs.meteor.com/tutorial/step_06](http://angularjs.meteor.com/tutorial/step_06)

[2014-11-01 17:46] #29 closed, assigned to nobody

[2015-03-01 11:28] #35 closed, assigned to nobody

[2016-02-11 21:03] #30 closed, assigned to nobody

[2016-02-11 21:03] #33 closed, assigned to nobody

[2016-02-11 21:04] #38 closed, assigned to nobody

[2018-01-03 11:32] #25 closed, assigned to nobody

[2021-01-12 23:30] #27 closed, assigned to nobody